<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BizIntegrator.PostToBiz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BizIntegrator.PostToBiz.Properties.Settings.ConnectionString"
            connectionString="Data Source=192.168.101.116,1433;Initial Catalog=BizIntegrator;User ID=sparuser;Password=ECsqlOnline!;MultipleActiveResultSets=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <BizIntegrator.PostToBiz.Properties.Settings>
            <setting name="BizLinkURL" serializeAs="String">
                <value>192.168.202.31</value>
            </setting>
            <setting name="Protocol" serializeAs="String">
                <value>http</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9080</value>
            </setting>
            <setting name="Party" serializeAs="String">
                <value />
            </setting>
        </BizIntegrator.PostToBiz.Properties.Settings>
    </applicationSettings>
</configuration>
